<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


<button th:onClick="'init();'">Nouvelle Partie</button>
<button th:onClick="'continueGame();'">Continuer la partie en cours</button>

</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">

    function init() {
        $.ajax({
            url: '/oth/init',
            success: function (data, textStatus, jqXHR) {
                console.log(data);
                window.location.href = '/oth/' + data;
            }
        });
    }
    function continueGame(){
        $.ajax({
            url:'/oth/continue',
            success : function(data, textStatus, jqXHR){
                console.log(data);
                window.location.href = '/oth/'+data;
            }
        });

    }
</script>

</html>